header{
  display: flex;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  color: MediumAquamarine;
  border-bottom: solid black 1px;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
nav{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
