header{
  display: flex;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  color: MediumAquamarine;
  border-bottom: solid black 1px;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
#logo{
  padding: 0px 10px 0px 15px;
}
nav{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
span{
  padding-right: 20px;
}
